.location-going-layaout {
  padding: 1px;
  min-height: 100vh;
}

.move-wrap a {
  text-decoration: none;
}

.move-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 30px;
  font-weight: 800;
  border: 10px outset rgb(165, 63, 12);
  box-sizing: border-box;
  background-color: rgb(235, 134, 18);
  color: rgb(5, 5, 5);
  max-width: 360px;
  min-width: 300px;
}

.move-btn_link {
  margin: 0 auto;
  display: block;
  max-width: 350px;
}

.move-btn_next {
  margin-top: 15vh;
}

.move-btn_back {
  margin-top: 20px;
}

.location-going-fight {
  min-height: 100vh;
  padding-top: 10vh;
}

.move-int-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 6%;
  margin-top: 55vh;
}

.move-int {
  width: 30%;
  height: 40vh;
  border: 10px outset rgb(121, 44, 6);
  background-color: rgb(221, 127, 50);
  padding: 15px;
  box-sizing: border-box;
}

.move-int__stats-wrap {
  margin-top: 40px;
  border: 5px outset gray;
  padding-left: 30px;
}

.move-int__stats-wrap span {
  margin-left: 40px;
  font-size: 25px;
}

.move-int__logs {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  padding-top: 80px;
}

button:active,
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
